.forgot-password {
  line-height: 34px;
  font-size: 14px;
}

form {
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  text-align: center;
}